/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}


header {
  background: #222;
  padding: 10px 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url('../Aula15-Exercicio-Desafio/img/desafio-image.jpeg') no-repeat center center/cover;
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.hero p {
  margin: 15px 0;
}

.btn {
  padding: 10px 20px;
  background: #ff4081;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}


.about {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background: #333;
  color: white;
}

.team {
  text-align: center;
}

.team-member {
  margin: 20px 0;
}

.team-member img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.team-member h4 {
  margin-top: 10px;
}


.portfolio {
  padding: 50px 20px;
  text-align: center;
}

.portfolio-filters {
  margin-bottom: 30px;
}

.portfolio-filters button {
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio-filters button:hover {
  background-color: #e53575;
}

.portfolio-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-items img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.contact {
  background: #222;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact form input, .contact form textarea {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: none;
}

.contact button {
  padding: 10px 20px;
  background: #ff4081;
  color: white;
  border: none;
  cursor: pointer;
}


footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px 0;
}
